<div class="neo-schemes-swatches {{ selector }} p-2 w-20 border rounded text-center {% if colorize %}border-base-400 bg-base-500 text-base-content-500{% else %}border-base-200 bg-base-50 text-base-content-50{% endif %}">
  <div class="text-lg leading-none">Aa</div>
  <div class="flex items-center justify-center mt-2 gap-2">
    <div class="h-2 w-4 bg-primary-500 rounded"></div>
    <div class="h-2 w-4 bg-secondary-500 rounded"></div>
    <div class="h-2 w-4 bg-accent-500 rounded"></div>
  </div>
</div>
