<div class="neo-scheme-preview {{ selector }} card p-6 flex bg-base-100 text-base-content-100 border-base-200">
  <div class="flex items-stretch gap-4 w-full">
    <div class="p-4 w-full rounded bg-base-300">
      <div class="flex gap-2">
        <div class="w-full p-4 rounded flex items-center justify-center bg-base text-base-content">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-base-50 text-base-content-50">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-base-900 text-base-content-900">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
      </div>
      <a class="btn btn-sm w-full text-center mt-2">Button</a>
      <a class="btn btn-outline btn-sm w-full text-center mt-2">Button Outline</a>
      <div class="grid grid-flow-col justify-stretch mt-2 bg-base-500 p-1 rounded text-center items-stretch" style="font-size: 8px">
        <div class="bg-base-50 text-base-content-50 p-1">50</div>
        <div class="bg-base-100 text-base-content-100 p-1">100</div>
        <div class="bg-base-200 text-base-content-200 p-1">200</div>
        <div class="bg-base-300 text-base-content-300 p-1">300</div>
        <div class="bg-base-400 text-base-content-400 p-1">400</div>
        <div class="bg-base-500 text-base-content-500 p-1">500</div>
        <div class="bg-base-600 text-base-content-600 p-1">600</div>
        <div class="bg-base-700 text-base-content-700 p-1">700</div>
        <div class="bg-base-800 text-base-content-800 p-1">800</div>
        <div class="bg-base-900 text-base-content-900 p-1">900</div>
        <div class="bg-base-950 text-base-content-950 p-1">950</div>
      </div>
    </div>
    <div class="p-4 w-full rounded bg-base-300">
      <div class="flex gap-2">
        <div class="w-full p-4 rounded flex items-center justify-center bg-primary text-primary-content">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-primary-50 text-primary-content-50">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-primary-900 text-primary-content-900">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
      </div>
      <a class="btn btn-primary btn-sm w-full text-center mt-2">Button</a>
      <a class="btn btn-primary-outline btn-sm w-full text-center mt-2">Button Outline</a>
      <div class="grid grid-flow-col justify-stretch mt-2 bg-base-500 p-1 rounded text-center items-stretch" style="font-size: 8px">
        <div class="bg-primary-50 text-primary-content-50 p-1">50</div>
        <div class="bg-primary-100 text-primary-content-100 p-1">100</div>
        <div class="bg-primary-200 text-primary-content-200 p-1">200</div>
        <div class="bg-primary-300 text-primary-content-300 p-1">300</div>
        <div class="bg-primary-400 text-primary-content-400 p-1">400</div>
        <div class="bg-primary-500 text-primary-content-500 p-1">500</div>
        <div class="bg-primary-600 text-primary-content-600 p-1">600</div>
        <div class="bg-primary-700 text-primary-content-700 p-1">700</div>
        <div class="bg-primary-800 text-primary-content-800 p-1">800</div>
        <div class="bg-primary-900 text-primary-content-900 p-1">900</div>
        <div class="bg-primary-950 text-primary-content-950 p-1">950</div>
      </div>
    </div>
    <div class="p-4 w-full rounded bg-base-300">
      <div class="flex gap-2">
        <div class="w-full p-4 rounded flex items-center justify-center bg-secondary text-secondary-content">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-secondary-50 text-secondary-content-50">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-secondary-900 text-secondary-content-900">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
      </div>
      <a class="btn btn-secondary btn-sm w-full text-center mt-2">Button</a>
      <a class="btn btn-secondary-outline btn-sm w-full text-center mt-2">Button Outline</a>
      <div class="grid grid-flow-col justify-stretch mt-2 bg-base-500 p-1 rounded text-center items-stretch" style="font-size: 8px">
        <div class="bg-secondary-50 text-secondary-content-50 p-1">50</div>
        <div class="bg-secondary-100 text-secondary-content-100 p-1">100</div>
        <div class="bg-secondary-200 text-secondary-content-200 p-1">200</div>
        <div class="bg-secondary-300 text-secondary-content-300 p-1">300</div>
        <div class="bg-secondary-400 text-secondary-content-400 p-1">400</div>
        <div class="bg-secondary-500 text-secondary-content-500 p-1">500</div>
        <div class="bg-secondary-600 text-secondary-content-600 p-1">600</div>
        <div class="bg-secondary-700 text-secondary-content-700 p-1">700</div>
        <div class="bg-secondary-800 text-secondary-content-800 p-1">800</div>
        <div class="bg-secondary-900 text-secondary-content-900 p-1">900</div>
        <div class="bg-secondary-950 text-secondary-content-950 p-1">950</div>
      </div>
    </div>
    <div class="p-4 w-full rounded bg-base-300">
      <div class="flex gap-2">
        <div class="w-full p-4 rounded flex items-center justify-center bg-accent text-accent-content">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-accent-50 text-accent-content-50">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
        <div class="w-full p-4 rounded flex items-center justify-center bg-accent-900 text-accent-content-900">
          <div class="text-3xl"><span>A</span><span>a</span></div>
        </div>
      </div>
      <a class="btn btn-accent btn-sm w-full text-center mt-2">Button</a>
      <a class="btn btn-accent-outline btn-sm w-full text-center mt-2">Button Outline</a>
      <div class="grid grid-flow-col justify-stretch mt-2 bg-base-500 p-1 rounded text-center items-stretch" style="font-size: 8px">
        <div class="bg-accent-50 text-accent-content-50 p-1">50</div>
        <div class="bg-accent-100 text-accent-content-100 p-1">100</div>
        <div class="bg-accent-200 text-accent-content-200 p-1">200</div>
        <div class="bg-accent-300 text-accent-content-300 p-1">300</div>
        <div class="bg-accent-400 text-accent-content-400 p-1">400</div>
        <div class="bg-accent-500 text-accent-content-500 p-1">500</div>
        <div class="bg-accent-600 text-accent-content-600 p-1">600</div>
        <div class="bg-accent-700 text-accent-content-700 p-1">700</div>
        <div class="bg-accent-800 text-accent-content-800 p-1">800</div>
        <div class="bg-accent-900 text-accent-content-900 p-1">900</div>
        <div class="bg-accent-950 text-accent-content-950 p-1">950</div>
      </div>
    </div>
  </div>
</div>
{{ css }}
